.background {
  background-color: var(--color-primary);
  padding: 20px;
  font-size: 1.4rem;
  font-weight: 500;
}

.input, .input:focus {
  background-color: var(--color-background);
  border: none;
}  